{
    "元": [
        1.0,
        "CNY"
    ],
    "RMB": [
        1.0,
        "CNY"
    ],
    "美金": [
        1.0,
        "USD"
    ],
    "美刀": [
        1.0,
        "USD"
    ],
    "新币": [
        1.0,
        "SGD"
    ],
    "陈平元": [
        1.5,
        "USD"
    ]
}